@import '../../assets/fonts/fonts.css';

.Card {
    padding: 10px 10px 0px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.Card-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.Card-caption {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.4rem;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    color: white;
}

.Card-theme-1 {
    background-color: #AB8E8E;
}

.Card-theme-2 {
    background-color: #6DAB5E;
}

.Card-theme-3 {
    background-color: #AB8461;
}

.Card-theme-4 {
    background-color: #D2C4AE;
}
