@import '../../assets/fonts/fonts.css';

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}

.Header-title {
    font-family: 'Russo One', sans-serif;
    color: white;
}